body.testscript{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8A8985;
	height:100%;
}
h1.ph1 {
	font-size: 14px;
}
div.title {
	text-transform: lowercase;
	color: #555;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 10px;
	font-weight:bold;
	padding-top: 5px;
	padding-bottom: 3px;
	/*border-bottom: 2px solid #B1B2B3;*/
}
div.pagestyle {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
}
div.label {
	margin-top:5px;
	margin-bottom:2px;
	color: rgb(87, 87, 101);
	font-weight: bold;
}
p.p1 {
	margin-top: 10px;
}
#page ul {
	list-style: none;
	margin-top: 10px;
	margin-right: 20px;
	padding-left: 20px;
}
#page li {
	line-height: 30px;
	background: url(../../img/img02.jpg) no-repeat left 13px;
	border-left: none;
	border-bottom: 1px dotted #B1B2B3;
}
#page li a {
	padding-left: 10px;
	color: #E3564F;
}

.styled {
	width: 99%;
	height: 250px;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
}
      
table.stylesample { 	
	border:0px solid #0070C0;
}
      
td.styletd{
	border:0px solid #0070C0;
    border-width: 1px;
	border-style: solid;
	padding:5px;
	vertical-align:top;  	
}
      
th.styleth{
	border:0px solid #0070C0;
    background-color:#0070C0;
	color:white;
	padding:5px;
}
	        
	        
